@font-face {
  font-family: "iconfont"; /* Project id 4361285 */
  src: url('iconfont.woff2?t=1702637914797') format('woff2'),
       url('iconfont.woff?t=1702637914797') format('woff'),
       url('iconfont.ttf?t=1702637914797') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhuizhongtai-01:before {
  content: "\e741";
}

.icon-yijianbushu:before {
  content: "\e7f0";
}

.icon-yonghuguanli:before {
  content: "\e7eb";
}

.icon-saiduiguanli:before {
  content: "\e7ec";
}

.icon-saitiguanli:before {
  content: "\e7ed";
}

.icon-saishiyunwei:before {
  content: "\e7ee";
}

.icon-saishiguanli:before {
  content: "\e7ef";
}

